# Chatbot UI
DEFAULT_MODEL=gpt-3.5-turbo
DEFAULT_SYSTEM_PROMPT=You are ChatGPT, a large language model trained by OpenAI. Follow the user's instructions carefully. Respond using markdown.
OPENAI_API_KEY=sk-None-e7k3TGmDAz6G9uTuZjefT3BlbkFJmfxS5IoxAFtocC3WWWub
# Google
GOOGLE_API_KEY=AIzaSyDt1a28sVWESddxHLWJ0CxzZe4my8jwqf4
GOOGLE_CSE_ID=14d9870dfd1cf496c
